name: Java CI with Maven

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest # Or another appropriate OS

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 25
        uses: actions/setup-java@v4
        with:
          java-version: "25"
          distribution: "temurin"
          cache: maven
      - name: Build and Test with Maven
        run: mvn clean install
      - name: Upload Test Reports on Failure
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: surefire-reports
          path: target/surefire-reports/
      - name: Upload Build Artifact
        # This step will only run if the build and tests succeed
        uses: actions/upload-artifact@v4
        with:
          name: libczi-wrapper
          path: target/*.jar
